<div class="main" style="height: 100%">
  <div class="signup">
    <form #signupForm="ngForm">
      <h2>Signup</h2>
      <!-- <label for="chk" aria-hidden="true">Sign up</label> -->
      <div class="form-group">
        <label for="username">Username:</label>
        <input
          type="text"
          name="userName"
          placeholder="User name"
          [(ngModel)]="signupobj.userName"
          required
          #userName="ngModel"
        />
        <div
          *ngIf="userName.invalid && (userName.dirty || userName.touched)"
          class="text-danger"
        >
          <small *ngIf="userName.errors?.['required']"
            >Username is required.</small
          >
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          name="email"
          placeholder="Email"
          [(ngModel)]="signupobj.email"
          required
          email
          #email="ngModel"
        />
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="text-danger"
        >
          <small *ngIf="email.errors?.['required']">Email is required.</small>
          <small *ngIf="email.errors?.['email']">Invalid email address.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          name="password"
          placeholder="Password"
          [(ngModel)]="signupobj.password"
          required
          minlength="8"
          #password="ngModel"
        />
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="text-danger"
        >
          <small *ngIf="password.errors?.['required']"
            >Password is required.</small
          >
          <small *ngIf="password.errors?.['minlength']"
            >Password must be at least 8 characters long.</small
          >
        </div>
      </div>
      <div class="form-group">
        <label for="password">Confirm Password:</label>
        <input
          type="password"
          name="confirmPassword"
          placeholder="Confirm Password"
          [(ngModel)]="signupobj.confirmPassword"
          required
          #confirmPassword="ngModel"
        />
        <div
          *ngIf="
            confirmPassword.invalid &&
            (confirmPassword.dirty || confirmPassword.touched)
          "
          class="text-danger"
        >
          <small *ngIf="confirmPassword.errors?.['required']"
            >Confirm password is required.</small
          >
          <small
            *ngIf="
              signupobj.password !== signupobj.confirmPassword &&
              confirmPassword.dirty &&
              confirmPassword.touched
            "
            >Passwords do not match.</small
          >
        </div>
      </div>
      <button
        type="submit"
        [disabled]="!signupForm.form.valid"
        (click)="onSignUp()"
      >
        Sign up
      </button>
      <div>
        <button type="button" routerLink="/">LOGIN</button>
      </div>
    </form>
  </div>
</div>
