.navbar {
  background-color: #000000;
  color: #ffffff;
  padding: 2px 0;
  width: 100%;
  position: relative;
}

.nav-links li a {
  color: #ffffff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo img {
  height: 80px; 
  vertical-align: middle;
  margin-left: -50px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #090909;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ffc107; 
}

.nav-links li a {
  color: #ffffff;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .logo img {
    height: 60px; 
    margin-left: 0;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-links li a {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 1.2rem;
  }

  .logo img {
    height: 50px; 
  }

  .nav-links li {
    margin: 5px 0;
  }

  .nav-links li a {
    font-size: 1rem;
  }
}
